:root {
  --primary-border-color: rgb(229, 231, 235);
  --primary-padding: 2rem;
  --heading-font-size: 2rem;
  --subheading-font-size: 1.1rem;
  --heading-color: #333;
  --text-color: #666;
  --secondary-color: #f39c12;
}

.booking {
  padding: var(--primary-padding);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-border-color);
  position: sticky;
  top: 0; /* Sticky element fixed at the top */
}

.booking__top {
  padding-bottom: var(--primary-padding);
  border-bottom: 1px solid var(--primary-border-color);
}

.booking__top h3 {
  font-size: var(--heading-font-size);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.booking__top h3 span,
.booking__top span {
  font-size: var(--subheading-font-size);
  font-weight: 400;
  color: var(--text-color);
}

.booking__top span i {
  color: var(--secondary-color);
}

.booking__form {
  padding-top: var(--primary-padding);
}

.booking__form h5 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.booking__form input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: var(--heading-color);
  border: 1px solid var(--primary-border-color);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.booking__form input:focus {
  outline: none;
  border-color: var(--secondary-color);
  box-shadow: 0 0 5px rgba(243, 156, 18, 0.5); /* Highlight the input on focus */
}

.booking__form-info {
  padding: 1rem;
  border: 1px solid var(--primary-border-color);
  border-radius: 0.5rem;
  margin-top: 1.5rem;
}

@media (max-width: 768px) {
  .booking {
    padding: 1rem;
  }

  .booking__top h3 {
    font-size: 1.5rem;
  }

  .booking__form h5 {
    font-size: 1.1rem;
  }
}
.booking__button li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.booking__button li h5,
.booking__button li span{
  font: size 1rem;
  color: var(--text-color);
  font-weight: 300;
}
.booking__button{
  margin-top: 1rem;
}
.total h5,
.total span{
  color: var(--heading-color);
  font-weight: 700;
  font-size: 1.1rem;
  
}